@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: rgba(31, 31, 31, 0.664);
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header{
   height: 10vh;
   font-size: 40px;
   margin-top: 20px;
}

section{
    width: 51vw;
    height: 65vh;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    border-radius: 20px;
}

div#d1{
    width: 100%;
    height: 15%;
    color: black;
    font-size: 30px;
    padding-top: 20px;
}

div#d2{
    width: 100%;
    height: 65%;
}

div#d3{
    width: 100%;
    height: 20%;
    margin-top: 15px;
    color: black;
}

img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

footer{
    margin-top: 15px;
}